

<span>{{ title }} app is running!</span>


<!-- <app-fav [isSelected]="obj.isSelected" [likesCount]="obj.likesCount" ></app-fav> -->
<!-- <app-courses></app-courses>
<switch></switch>  
<zippy [title] = "stitle" [billingTitle]= "btitle">
    <ng-container title="shipping" class="shipping">
        shipping details goes here...
    </ng-container>
    <ng-container title="billing" class="billing">
        billing details goes here..
    </ng-container>
</zippy> 

<app-contact-form></app-contact-form>
<course-form></course-form> -->

<!-- <app-signup-form></app-signup-form> -->
<!-- <app-form-array></app-form-array> -->
<!-- <app-form-builder></app-form-builder> -->

<!-- <change-password-form></change-password-form> -->

<!-- <app-posts></app-posts> -->
<!-- <books></books> -->

<nav-bar></nav-bar>
<router-outlet></router-outlet>
