<h2>Change Password</h2>

<form [formGroup]= "form">
    <div class="form-group">
        <label for="">Old Password</label>
        <input type="text" class="form-control" formControlName = "oldPassword" >
        <div *ngIf = "f.oldPassword.touched && f.oldPassword.invalid">
            <div class="text text-danger" *ngIf = "f.oldPassword?.errors?.required">
                Old Password is required.
            </div>

            <div class="text text-danger" *ngIf = "f.oldPassword?.errors?.CheckOldPassword">
                Old Password is invalid.
            </div>

        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input 
            formControlName="password"
            id="password" 
            type="password" 
            class="form-control">
        <div *ngIf="f.password.touched && f.password.invalid" >
            <div *ngIf="f.password?.errors?.required" class="text text-danger"> New Password is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input 
            formControlName="confirm_password"
            id="confirm_password" 
            type="password" 
            class="form-control">
        <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid">
            <div *ngIf="f.confirm_password?.errors?.required" class="text text-danger">Confirm Password is required.</div>
            <div *ngIf="f.confirm_password?.errors?.confirmedValidator" class="text text-danger">New Password and Confirm Password must be match.</div>
        </div>
    </div>

    <button class="btn btn-primary set-btn">Change Password</button>

</form>